<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12 my-3">
        <!-- jquery validation -->
        <div class="card card-primary my-2">
         
          <!-- /.card-header -->
          <!-- form start -->
          <app-user-form></app-user-form>
          <!-- <app-user-list></app-user-list> -->
          <!-- <app-user-profile></app-user-profile> -->
          <!-- form end -->

        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
